.title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size:  45px;
}

.imgIcon {

    width: 10em;
    margin: 20px;
    padding: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.text{
    text-align: center;
    margin: 40px;
    margin-top: 50px;
    font-size: 22px;
    max-width: 2500px;
}